In [1]:
import os

In [3]:
pathtogs='C:\\Program Files\\gs\\gs9.24\\bin'

In [8]:
os.environ['PATH']+= os.pathsep+pathtogs

In [13]:
import nltk

from nltk.tokenize import sent_tokenize,word_tokenize

from nltk.corpus import brown

In [14]:
import pandas as pd

In [15]:
df=pd.read_csv('Tweets.csv')

In [16]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [17]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [19]:
df=df[['text','airline_sentiment']]

In [20]:
df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [21]:
import re

In [29]:
r= re.compile(r"([@])(\w+)\b")

AllReferences=map(lambda x:r.findall(x),df['text'])

import itertools
AllUniqueReferencesCombined=set(list(itertools.chain.from_iterable(AllReferences)))
References=map(lambda x:x[0]+x[1],AllUniqueReferencesCombined)

file=open('References.txt','a')
for each in References:
    file.write(each+'\n')
file.close()

In [30]:
import nltk

In [58]:
def GetNounPhrases(s):
    try:
        sentences = nltk.sent_tokenize(s)
        sentences = [nltk.word_tokenize(sent) for sent in sentences]
        sentences = [nltk.pos_tag(sent) for sent in sentences]
    except:
        return []

    grammar = r"NP: {<DT>?<NN|NNS|NNP|NNPS>+}"
    cp = nltk.RegexpParser(grammar)

    noun_phrases_list = []
    for sent in sentences:
        tree = cp.parse(sent)
        phrases = [' '.join(leaf[0] for leaf in tree.leaves())
                   for tree in tree.subtrees()
                   if tree.label() == 'NP']
        noun_phrases_list.append(phrases)

    return noun_phrases_list

import itertools

for group,sub in df.groupby('airline_sentiment'):
    noun_phrases = map(lambda x :GetNounPhrases(x),sub['text'])
    noun_phrases=list(itertools.chain.from_iterable(noun_phrases))
    Allnounphrases=set(list(itertools.chain.from_iterable(noun_phrases)))
    filename=" Noun_Phrases for:" + str(group)+'Review.txt'
    with open(filename, 'a', encoding='utf-8') as file:
        for each in Allnounphrases:
            file.write(each + '\n')

file.close()

In [59]:
print('fine done')

fine done